Source: vx-gitbook-to-vuepress
Section: utils
Priority: extra
Maintainer: Arturo Martín Romero <amartinromero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.7
Homepage: http://wiki.vitalinux.educa.aragon.es

Package: vx-gitbook-to-vuepress
Architecture: all
Depends: ${misc:Depends}, librsvg2-bin, jq, wget, pandoc, grip, curl, texlive-latex-base, texlive-fonts-recommended, texlive-fonts-extra, texlive-latex-extra
Description: Convert GitBook to Vuepress
 Paquete creado de pasar los cursos de GitBook de Catedu a Vuepress
 .
 1) Transforma documentación GitBook en Vuepress
 2) Genera el archivo config.js a partir de book.json y SUMMARY.md
 3) Genera el sidebar a partir de SUMMARY.md
 4) Corrige las rutas de las imágenes acordes a la configuración de Webpack
 5) Genera un PDF a partir de toda la documentación descargable vía enlace del navbar